

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    display: block;
}

.img-container img.book-cover {
    width: auto !important; /* Override any conflicting width styles */
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Allow the height to adjust proportionally */
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.5s ease;
}

.img-container:hover .img {
	transform: scale(1.1);
}
.img-container:hover .overlay{
	opacity: 1;
}

.blurb-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
